---
layout: default
description: Template for pages with a list to navigate to other pages.
---

{{ content }}

{% if page.list %}
  <ul class="list-group list-group-flush mb-3">
    {% for item in page.list %}
      {% if item.text contains '' %}
        {% assign item_text = item.text %}
      {% else %}
        {% assign item_text = site.pages | where: 'url', item.href | map: 'title' | first %}
      {% endif %}
      <li class="list-group-item">
        {% if item.label %}
          <span class="badge bg-secondary rounded-pill me-1">{{ item.label }}</span>
        {% endif %}
        <a href="{{ item.href | relative_url }}">{{ item_text }}</a>  
        {% if item.menu %}
          <ul class="list-unstyled ps-4">
            {% for subitem in item.menu %}
              {% if subitem.text contains '' %}
                {% assign subitem_text = subitem.text %}
              {% else %}
                {% assign subitem_text = site.pages | where: 'url', subitem.href | map: 'title' | first %}
              {% endif %}
              <li>
                {% if subitem.label %}
                  {% if subitem.button_bg %}
                  <span class="badge {{ subitem.button_bg }} rounded-pill me-1" alt="Task Group">{{ subitem.label }}</span>   
                {% else %}
                  <span class="badge bg-primary rounded-pill me-1" alt="Task Group">{{ subitem.label }}</span>
                {% endif %}
                {% endif %}
                 {% if subitem.link_label %}
                 <a href="{{ subitem.href | relative_url }}">{{ subitem.link_label }}</a>
                {% else %}
                  <a href="{{ subitem.href | relative_url }}">{{ subitem_text }}</a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
